.forms-container  {
  padding: 3rem;
  margin-top: 2rem;

  &__item {

  }

  &__date-range {
    display: flex;
    flex-direction: row;
  }
}

h3 {
  margin-left: 8rem;
}

h1 {
  margin-bottom: 4rem;
}

:host {
  display: grid;
  place-content: center;
}

form {
  max-width: 800px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
}


.validation {
  display: none;
}

.tt-input.ng-invalid.ng-touched {
  border: 2px solid tomato;
}

.tt-input.ng-invalid.ng-touched + .validation {
  display: block;
}

//.ng-submitted {
//  border: 10px solid aquamarine;
//}

.two-columns {
  display: grid;
  margin-top: 12px;
  margin-bottom: 12px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
}

.tt-input::-webkit-calendar-picker-indicator {
  background: var(--primary-color);
  cursor: pointer;
}

.tt-input.ng-pending {
  border: 2px dashed var(--primary-color);
}


