.forms-container  {
  max-width: 50rem;

 .delivery-form {
   border: 1px solid black;
   border-radius: 0.5rem;
   width: 38rem;
   padding: 1rem;
   margin-bottom: 3rem;


   .delivery-title {
     display: flex;
     align-items: center;
     margin-bottom: 0.7rem;
     justify-content: space-between;
   }
 }

  &__date-range {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;

    &.range-item {
      flex: 1 1 5rem;
    }
  }

  .range-item {
    flex: 1 1 5rem;
  }
}

h2 {
  margin-top: 7rem;
}

h1,h3 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

form {
  max-width: 36rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 24px;
}


.validation {
  display: none;
}

.tt-input.ng-invalid.ng-touched {
  border: 2px solid tomato;
}

.tt-input.ng-invalid.ng-touched + .validation {
  display: block;
}

//.ng-submitted {
//  border: 10px solid aquamarine;
//}

.two-columns {
  display: grid;
  margin-top: 12px;
  margin-bottom: 12px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
}

.tt-input::-webkit-calendar-picker-indicator {
  background: var(--primary-color);
  cursor: pointer;
}

.tt-input.ng-pending {
  border: 2px dashed var(--primary-color);
}


