nodeLinker: node-modules # Использовать стандартный формат node_modules
enableImmutableInstalls: true # Защитить установленные зависимости от случайных изменений
defaultSemverRangePrefix: "" # Обновлять зависимости до точных версий (без ^ или ~)
