<h2>Tables</h2>
<div class="table-container">
  <div class="table-container__item">
    <h3>Basic Table</h3>
    <basic-table
      [columns]="basic_columns"
      [dataSource]="(basicTableData$ | async)"
    ></basic-table>
  </div>

  <div class="table-container__item">
    <h3>Editable Table</h3>
    <editable-table
      [columns]="editable_columns"
      [accordionOne]="editable_python_data"
      [accordionTwo]="editable_python_starwars"
      [unit]="units"
    ></editable-table>
  </div>
</div>
