.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-container {
  width: 30rem;
  border: 0.1em solid rgba(174, 171, 243, 0.8);
  border-radius: 0.3rem;
  padding: 2em;

  h2, h3 {
    text-align: center;
  }
}
