<div class="login-wrapper">
    <div class="login-container">
        <h3>Login</h3>
        <form [formGroup]="loginForm">
            <app-form-field label="Input"
                        [required]="true"
                        [control]="loginForm.controls.login"
                        [isInline]="isInline">
                <app-input formControlName="login" 
                            (changed)="outputData($event)"
                           [placeholder]="'Login'"></app-input>
            </app-form-field>
            <app-form-field label="Input"
                        [required]="true"
                        [control]="loginForm.controls.password"
                        [isInline]="isInline">
                <app-input formControlName="password" 
                           (changed)="outputData($event)"
                           [placeholder]="'Password'"></app-input>
            </app-form-field>

            <app-button [icon]="'tuiIconSettings'"
                        [size]="'l'"
            >Save</app-button>  
        </form>
        
        <a routerLink="/basic-example">Example</a> 
    </div>
</div>

