.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.login-container {
    width: 30rem;
    border: 0.1em solid rgba(174, 171, 243, 0.8);
    border-radius: 0.3rem;
    height: 24rem;
    padding: 2em;

    h2,h3 {
        text-align: center;
    }
}