<div class="select">
  <tui-select
    tuiTextfieldSize="m"
    class="tui-space_vertical-4"
    [formControl]="control"
    [tuiTextfieldLabelOutside]="true"
    [tuiDropdownDirection]="direction()"
  >
    {{title() | translate}}
    <input
      [placeholder]="placeholder()"
      tuiTextfieldLegacy
    />
    <tui-data-list-wrapper
      *tuiDataList
      [items]="items()"
    />
  </tui-select>

<!--  <tui-select [(ngModel)]="value">-->
<!--    {{title}}-->
<!--    <cdk-virtual-scroll-viewport-->
<!--      *tuiDataList-->
<!--      tuiScrollable-->
<!--      class="scroll"-->
<!--      [itemSize]="44"-->
<!--    >-->
<!--      <tui-data-list>-->
<!--        <button-->
<!--          *cdkVirtualFor="let item of items()"-->
<!--          tuiOption-->
<!--          [value]="item"-->
<!--        >-->
<!--          {{ item }}-->
<!--        </button>-->
<!--      </tui-data-list>-->
<!--    </cdk-virtual-scroll-viewport>-->
<!--  </tui-select>-->
</div>
