//@import '@taiga-ui/core/styles/taiga-ui-local.less';

.select {
  width: 100%;
}

.scroll {
  //.scrollbar-hidden();
  height: 200px;
}

:host-context(.form-field_error) {
    .select {
      border: 1px solid red//$error;
    }
}
