<section>
  <h3>Signal Form + Calendar</h3>

  <app-form-field label="Date init"
                  [required]="true"
                  [field]="myForm.createdAt"
                  [showLabel]="true"
                  [isInline]="true">
      <global-calendar
        [formField]="myForm.createdAt"
        placeholder="Date"
        [minDate]="minDate"
        [maxDate]="maxDate"
        (changed)="onDateChanged($event)"
        (closed)="onClosed()"
      ></global-calendar>
  </app-form-field>

  <div style="margin-top: 12px; display: flex; gap: 8px;">
    <button type="button" (click)="reset()">Reset</button>
    <button type="button" (click)="submit()">Submit</button>
  </div>

  <p style="margin-top: 12px;">
   Selected date: {{ formModel().createdAt | json }}
  </p>
</section>
