<div class="line-chart">
  <tui-axes
    class="axes"
    [axisXLabels]="labelsX()"
    [axisYLabels]="labelsY()"
    [horizontalLines]="2"
    [tuiLineChartHint]="hintContent"
    [verticalLines]="4"
  >
    <tui-line-chart
      [filled]="filled()"
      [smoothingFactor]="smoothingFactor()"
      [dots]="dots()"
      [height]="height()"
      [value]="charts()"
      [width]="width()"
      [xStringify]="xStringify()"
      [x]="0"
      [y]="0"
      [yStringify]="yStringify()"
    />
  </tui-axes>
</div>
