<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button (click)="toggleCollapse()" class="logo">A</button>
    @if (collapsed) {
      <div @fadeInOut class="logo-text">Angualr</div>

      <button (click)="closeSidenav()"  class="btn-close" @rotate>
        <i class="fal fa-times close-icon"></i>
      </button>
    }
  </div>
  <ul class="sidenav-nav">
    @for (data of navData; track $index) {
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" [routerLink]="[data.routerLink]"
                                    routerLinkActive="active"
                                    [routerLinkAciveOptions]="{exact: true}"  
        >
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          @if (collapsed) {
            <span class="sidenav-link-text" @fadeInOut>{{data.label}}</span>
          }
        </a>
      </li>
    }
  </ul>
</div>
