<h3>Tables</h3>
<div class="table-container">
  <div class="table-container__item">
    <h3>Basic Table</h3>
    <basic-table
      [columns]="basic_columns"
      [dataSource]="dataSource"
    ></basic-table>
  </div>

  <div class="table-container__item">
    <h3>Editable Table</h3>
    <editable-table
      [columns]="editable_columns"
    ></editable-table>
  </div>
</div>

<h3>Dropdowns</h3>

<div class="dropdowns-container">
  <div class="dropdown-container__item">
    <h2>Basic dropdown</h2>
    <app-select
      [items]="basic_select_items"
    ></app-select>
  </div>
</div>
