.table {
  inline-size: 200rem;
}

.box {
  inline-size: 99%;
}

.header {
  background-color: var(--tui-background-accent-1);
  color: var(--tui-text-primary-on-accent-1);
}

.t-sort {
  color: var(--tui-text-primary-on-accent-1);
}

.rowColor td {
  background: var(--tui-background-accent-1-hover);
  color: #fff;
}

.tuiTrClass:hover {
  background-color: var(--tui-background-accent-1-hover)!important;
  color: #fff;
}

.pagination {
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: max-content;
  align-items: center;
  gap: 0.1rem;
}
