<table
  tuiTable
  class="table tui-space_top-3"
  [columns]="columns"
>
  <thead>
    <tr tuiThGroup>
      @for (col of columns; track $index) {
        <th *tuiHead="col" tuiTh>
          {{ col }}
        </th>
      }
    </tr>
  </thead>
  <tbody *tuiLet="dataSource | tuiTableSort as sortedData"
         [data]="sortedData" tuiTbody>
    @for (item of sortedData; track $index) {
      <tr tuiTr>
        @for (col of columns; track $index) {
          {{'dd'}}
          <td *tuiCell="col" tuiTd>
            {{ item[col] }}
          </td>
        }
      </tr>
    }
  </tbody>
</table>
<tui-pagination
  [length]="length"
  [style.float]="'right'"
  [(index)]="index"
/>
