.table {
  inline-size: 200rem;
}

.box {
  inline-size: 99%;
}

.header {
  background-color: var(--tui-background-accent-1);
  color: var(--tui-text-primary-on-accent-1);
}

.t-sort {
  color: var(--tui-text-primary-on-accent-1);
}

.rowColor td {
  background: var(--tui-background-accent-1-hover);
  color: #fff;
  transition: all 0.3s ease 0s;
}

.table tbody > tr:hover {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background: var(--tui-background-accent-1-hover);
}

.table tbody > tr:nth-child(2n) {
  background: #8597df!important;
}

.pagination {
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: max-content;
  align-items: center;
  gap: 0.1rem;
}
