<tui-scrollbar class="box">
  <table
       tuiTable
       class="table tui-space_top-3"
       [size]="tableSize()"
       [columns]="columns"
  >
      <thead>
        <tr tuiThGroup>
          @for (col of columns; track $index) {
            <th *tuiHead="col"
                class="header"
                tuiTh
                [resizable]="resizable()">
              {{ titleColumn()[col] }}
            </th>
          }
        </tr>
      </thead>

      <tbody *tuiLet="paginatedData | tuiTableSort as sortedData"
             [data]="sortedData" tuiTbody>
        @for (item of sortedData; track $index) {
          <tr (click)="toggleRowSelection(item)"
            [class.rowColor]="selected === item" tuiTr>
            @for (col of columns; track $index) {
              <td *tuiCell="col" tuiTd>
                {{ item[col] }}
              </td>
            }
          </tr>
        }
      </tbody>
  </table>
</tui-scrollbar>
<!--pagination-->
<caption tuiCaption>
  <div class="pagination">
    <span>{{ dataSource().length }} rows</span>
    <button
      appearance="flat"
      tuiButton
      tuiButtonSelect
      type="button"
      [(ngModel)]="size"
    >
      {{ displayedRowsRange }} rows
      <tui-data-list-wrapper
        *tuiTextfieldDropdown
        [itemContent]="content"
        [items]="items"
      />
    </button>
    <tui-pagination
      [length]="Math.ceil(dataSource().length / size)"
      [(index)]="index"
      [size]="'l'"
    />
  </div>
</caption>

