<table
     tuiTable
     class="table tui-space_top-3"
     [size]="tableSize()"
     [columns]="columns"
>
  <!--pagination-->
  <caption tuiCaption>
    <span>999 rows</span>
    <button
         appearance="flat"
         tuiButton
         tuiButtonSelect
         type="button"
         [(ngModel)]="size"
    >
      {{ index * size + 1 }}-{{ (index + 1) * size }} rows
      <tui-data-list-wrapper
           *tuiTextfieldDropdown
           [itemContent]="content"
           [items]="items"
      />
    </button>
    <tui-pagination
         [length]="dataSource().length"
         [style.float]="'center'"
         [(index)]="index"
    />
  </caption>
  <tui-scrollbar class="box">
    <thead>
      <tr tuiThGroup>
        @for (col of columns; track $index) {
          <th *tuiHead="col" tuiTh [resizable]="resizable()">
            {{ col }}
          </th>
        }
      </tr>
    </thead>

    <tbody *tuiLet="dataSource() | tuiTableSort as sortedData"
           [data]="sortedData" tuiTbody>
      @for (item of sortedData; track $index) {
        <tr tuiTr>
          @for (col of columns; track $index) {
            <td *tuiCell="col" tuiTd>
              {{ item[col] }}
            </td>
          }
        </tr>
      }
    </tbody>
  </tui-scrollbar>
</table>

