<div class="header-wrapper" [ngClass]="getHeadClass()">
    <div class="header-container">
        <div class="header-container__logo">
            <img src="..\assets\img\logo\nttD.png" alt="">
            <span>NTTDATA</span>
        </div>
        <div class="header-container__right">
          <div class="head-user-avatar-container" [cdkContextMenuTriggerFor]="userOverlay">
            <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay">
              <i class="fas fa-user-circle user-avatar"></i>
            </div>
          </div>
        </div>
    </div>
</div>

<ng-template #userOverlay>
    <div class="overlay overlay-user overlay-fall" cdkMenu>
        <ul>
            @for(item of userItems; track $index) {
                <li cdkMenuItem>
                   <a>
                    <i class="icon" [ngClass]="item.icon"></i>
                    <span>{{item.label}}</span>
                   </a>
                </li>
            }
        </ul>
        <div class="header-container__langage">
            <button (click)="translate.use('sp')">{{ 'BUTTON.LANG.SP' | translate }}</button>
            <button (click)="translate.use('en')">{{ 'BUTTON.LANG.EN' | translate }}</button>
        </div>
    </div>
</ng-template>
