:host-context(.form-field_error) {
  input {
    border: 1px solid #B00020 //$error;
  }
}

:host ::ng-deep .password-input .p-inputtext {
  height: 2.1rem;
  border: 1px solid rgb(29, 31, 49);
  background-color: #f9f9f9;
  color: #495057;
  width: 100%;

  &_disabled {
    background: rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .15);
  }
}

:host ::ng-deep .password-input .p-inputtext:hover {
  border: 1px solid rgba(206, 212, 218, 1);
}

:host ::ng-deep .password-input .p-inputtext[disabled] {
  background: rgba(0, 0, 0, .05);
  border: 1px solid rgba(0, 0, 0, .18);
  color: rgba(0, 0, 0, 1);
}